@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #0F0F0F;
    --blue: #4B68D0;
    --orange: #FF784D;
    --light-grey: #F4F4F8;
    --grey: #949494;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #F4F4F8;
    color: var(--black);
}

a{
    color: var(--black);
    text-decoration: none;
}

@media (max-width: 600px) {
    body{
        min-width: 320px;
    }
    .container{
        max-width: calc(600px + 17px);
        min-width: calc(296px + 17px);
        padding: 0 17px;
    }
}